@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

:root {
  --dark: #19181f;
  --white: #ffffff;
  --new-black: #1e1e26;
  --new-purple: #67159c;
  --new-green: #07d962;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--dark);
  font-family: "DM Sans", sans-serif;
}

h1 {
  color: var(--white);
  text-align: center;
  margin-top: 5vh;
  text-transform: uppercase;
}

p {
  color: var(--white);
  text-align: center;
  margin-top: 1.125rem;
  text-transform: uppercase;
}

.playerSection,
.computerSection {
  margin-top: 5vh;
  color: #fff;
  text-align: center;
}

i {
  padding: 2rem;
  font-size: 2rem;
  margin-top: 2rem;
  margin-left: 2.375rem;
  color: var(--new-black);
  border: 0.25rem solid var(--new-purple);
  background-color: var(--white);
  cursor: pointer;
}

i:hover {
  background-color: var(--new-green);
  transition: background-color 0.2s ease-in-out;
}

.ties,
.playerScore,
.computerScore {
  transition: text 0.2s ease-in-out;
}

.reset {
  display: block;
  margin: 0 auto;
  padding: 2rem;
  font-size: 1.125rem;
  font-weight: bold;
  border: 0.25rem solid var(--new-purple);
  cursor: pointer;
  margin-top: 32px;
}

.reset:hover {
  background-color: var(--new-green);
  transition: background-color 0.2s ease-in-out;
}
